.invoice-page{
	margin-top:64px;
	background:#fff;

}

.invoice-page-title{
	color: #000;
	font-size: 3rem;
	margin-top: 2rem;

}

.invoice-page-logo{
	content:  url("./logo.png");
	width:20rem;
	height:8rem;

}

.invoice-page-key,.invoice-page-colon,.invoice-page-value{
	font-size: 1.8rem;
	margin-bottom: 1rem;

}

@media   only screen and (max-width: 768px){

	.invoice-page-key,.invoice-page-colon,.invoice-page-value{
		font-size: 0.8rem;
	}
	.invoice-page-value{
		width: 2rem;
	}
}